/* ==========================================================================
  Buttons
========================================================================== */


.btn {
  background: #333;
  color: #fff;
  border: none;
  padding: 8px 18px 6px;
  min-width: 100px;
  font-size: 12px;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  @include medium-font();
  border-radius: 2px;
  transition: all .15s ease-in-out;
  &:hover,
  &:focus {
    background: #777;
    color: #fff;
    border: none;
  }
  &:focus,
  &:active {
    outline: 0;
    border: none;
  }

  @include breakpoint(small) {
    display: block;
    width: 100%;
  }

}

.btn-purple {
  background: $purple;
  &:hover,
  &:focus {
    background: lighten($purple, 8%);
  }
}

.btn-green {
  background: $green;
  &:hover,
  &:focus {
    background: lighten($green, 8%);
  }
}

.btn-red {
  background: $red;
  &:hover,
  &:focus {
    background: lighten($red, 5%);
  }
}

.btn-grey {
  background: #b4bcbc;
  &:hover,
  &:focus {
    background: darken(#b4bcbc, 10%);
  }
}

.btn-large {
  font-size: 15px;
  padding: 11px 30px 9px;
  min-width: 156px;
}

.btn-x-large {
  font-size: 16px;
  min-width: 230px;
  font-weight: bold;
  padding: 13px 30px 11px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
