/**** Colors ****/
/* ==========================================================================
  Mixins
========================================================================== */
/**** **** **** **** ****
BREAKPOINTS -
USAGE: @include breakpoint(small) {}
**** **** **** **** ****/
/**** **** **** **** ****
ANIMATION -
USAGE: @include animation(name, fadeIn);
USAGE: @include animation(duration, .15s);
USAGE: @include animation(delay, 1s);
USAGE: @include animation(fill-mode, both);
**** **** **** **** ****/
/**** **** **** **** ****
CLEARFIX -
USAGE: @include clearfix();
**** **** **** **** ****/
/**** **** **** **** ****
PLACEHOLDER -
USAGE: @include placeholder(#333);
**** **** **** **** ****/
/**** **** **** **** ****
FLEXBOX!
USAGE: @include flexbox();
**** **** **** **** ****/
/**** **** **** **** ****
FLEX
USAGE: @include flex(1 1 200px);
**** **** **** **** ****/
/**** **** **** **** ****
ORDER
USAGE: @include order(2);
**** **** **** **** ****/
/***** Opacity Mixin ****/
body {
  background: whitesmoke; }

.sg-label {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1em; }

.swatch-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  text-align: left; }

.hex-code {
  cursor: pointer; }
  .hex-code:hover {
    background: #00ABC9; }

.colors {
  text-align: center; }

.swatch-container,
.front,
.back {
  width: 125px;
  height: 180px; }

.front {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  cursor: pointer; }

.success {
  width: 100%;
  text-align: center;
  height: 75%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  bottom: 50%; }

.green {
  background: #62a70f; }
  .green .hover-notification {
    background: #62a70f; }
  .green .success {
    background: #62a70f;
    color: white; }

.grey {
  background: #54575a; }
  .grey .hover-notification {
    background: #54575a; }
  .grey .success {
    background: #54575a;
    color: white; }

.purple {
  background: #8332a7; }
  .purple .hover-notification {
    background: #8332a7; }
  .purple .success {
    background: #8332a7;
    color: white; }

.white {
  background: #ffffff; }
  .white .details {
    border-top: 1px solid #54575a; }
  .white .hover-notification {
    background: white;
    color: #54575a;
    transition: all 0.5s ease; }
  .white .success {
    background: #ffffff;
    color: #54575a; }

.front.white:hover > .hover-notification {
  color: #54575a; }

.blue .hover-notification {
  background: #003D4C; }

.blue .success {
  background: #003D4C;
  color: #ffffff; }

footer.details {
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.1rem; }

footer.details, span {
  font-weight: normal;
  display: block; }

.click-notification {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem; }

.hover-notification {
  transition: all 0.5s ease;
  text-align: center;
  height: 75%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.1rem; }

.button-wrap {
  display: none;
  transition: all 0.9s ease; }

button:focus {
  outline: 0; }

.front:hover > .button-wrap {
  color: white;
  text-align: center;
  display: block;
  height: 100%; }

.sg-section-header {
  font-weight: 400;
  width: 100%;
  margin-bottom: 3rem; }

.underline {
  text-decoration: underline; }

.show {
  display: block;
  position: absolute;
  top: 0; }

/*****************************************************

  Typography Section Styles

*******************************************************/
.font-weight-wrapper {
  margin: 0 auto;
  background: #ffffff;
  width: 70%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  @media (max-width: 767px) {
    .font-weight-wrapper {
      width: 80%; } }

.type {
  padding-top: 2rem; }

.typography {
  vertical-align: middle; }
  .typography .font {
    margin: 0 15%;
    font-size: 2.3rem;
    padding-top: 1.5rem; }
    @media (max-width: 767px) {
      .typography .font {
        font-size: 1.5rem; } }

.light {
  font-weight: 300;
  letter-spacing: 0.07rem; }

.regular {
  font-weight: 400;
  letter-spacing: 0.04rem; }

.semi-bold {
  font-weight: 600;
  letter-spacing: 0.04rem; }

.bold {
  font-weight: 700;
  letter-spacing: 0.04rem; }

.panel {
  border-radius: 4px;
  background: #ffffff; }

.weight-spacing {
  margin: 0 15%; }

/*****************************************************

  UI Elements Section Styles

*******************************************************/
.ui-things {
  background: #ffffff;
  margin: 0 auto; }
  .ui-things::after {
    content: '';
    display: block;
    clear: both; }

.ui-elements {
  padding-top: 3rem; }

.panel-examples {
  padding-top: 1rem;
  margin: 0 8%; }

.checkbox-section {
  padding-bottom: 1rem; }

#tl-checkbox {
  position: absolute;
  left: -9999px; }
  #tl-checkbox:checked + .tl-label::after {
    display: block; }

.tl-label {
  position: relative;
  margin: 10px 0;
  padding-left: 35px;
  cursor: pointer; }
  .tl-label::before,
  .tl-label::after {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 50%; }

.tl-label::before {
  display: flex;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-color: #54575a; }

.tl-label::after {
  display: none;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: #54575a; }

.glyphs {
  padding-top: 3rem; }
  .glyphs .row {
    background: #ffffff;
    margin: 0 auto; }
    .glyphs .row::after {
      content: '';
      display: block;
      clear: both; }
