/**** Colors ****/
.sg-label {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1em; }

.swatch-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  text-align: left; }

.hex-code {
  cursor: pointer; }
  .hex-code:hover {
    background: #00ABC9; }

.colors {
  text-align: center; }

.swatch-container,
.front,
.back {
  width: 200px;
  height: 246px; }

.front {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  cursor: pointer; }

.green {
  background: #62a70f; }
  .green .hover-notification {
    color: #62a70f; }

.grey {
  background: #54575a; }

.purple {
  background: #8332a7; }
  .purple .hover-notification {
    color: #8332a7; }

.white {
  background: #ffffff; }
  .white .details {
    border-top: 1px solid #54575a; }
  .white .hover-notification {
    color: white;
    transition: all 0.5s ease; }

.front.white:hover > .hover-notification {
  color: #54575a; }

.blue .hover-notification {
  color: #003D4C; }

footer.details {
  position: absolute;
  bottom: 0;
  height: 26%;
  width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.1rem; }

footer.details, span {
  font-weight: normal;
  display: block; }

.click-notification {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem; }

.hover-notification {
  transition: all 0.5s ease;
  text-align: center; }

.front:hover > .hover-notification {
  color: white;
  text-align: center;
  display: block; }

.underline {
  text-decoration: underline; }
