/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 98 of library/scss/styles.scss

93: footer.details span {
94:   font-weight: normal;
95:   display: block;
96: }

Backtrace:
library/scss/styles.scss:98
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:643:in `block'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/jballadares/.rvm/gems/ruby-2.2.1/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 98 of library/scss/styles.scss\A \A 93: footer.details span {\A 94:   font-weight: normal;\A 95:   display: block;\A 96: }"; }
