@import "meta/variables";


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

.sg-label {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1em;
}

.swatch-container {
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  text-align: left;
}

.hex-code {
  cursor: pointer;
  &:hover {
    background: #00ABC9;
  }
}

.colors {
  text-align: center;
}

.swatch-container,
.front,
.back {
  width: 200px;
  height: 246px;
}

.front {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  cursor: pointer;
}

.green {
  background: $green;
  .hover-notification {
    background: $green;
  }
}

.grey {
  background: $grey;
  .hover-notification {
    background: $grey;
  }
}

.purple {
  background: $purple;
  .hover-notification {
    background: $purple;
  }
}

.white {
  background: $white;
  .details {
    border-top: 1px solid $grey;
  }
  .hover-notification {
    background: white;
    color: $grey;
    transition: all 0.5s ease;
  }
}

.front.white:hover>.hover-notification {
  color: $grey;
}

.blue {
  .hover-notification {
    background: $blue;
  }
}



footer.details {
  position: absolute;
  bottom: 0;
  height: 26%;
  width: 100%;
  background-color: #fff;
  color: #222;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.1rem;
}

footer.details, span {
  font-weight: normal;
  display: block;
}

.click-notification {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
}

.hover-notification {
  transition: all 0.5s ease;
  text-align: center;
  height: 75%;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

.button-wrap {
  display: none;
  transition: all 0.9s ease;
}



.front:hover>.button-wrap {
  color: white;
  text-align: center;
  display: block;
  height: 100%;
}

.underline {
  text-decoration: underline;
}
